.location-search-input {
  height: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;

}

.button {
  width: 20%;
  background-color: skyblue;
  margin: 20px auto;
  color: black;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition-duration: 0.5s;
}

.button:hover {
  background-color: deepskyblue;
  font-weight: bold;
}